
{% extends "adminfolder/base.html" %}

{% load static %}

{% block title %}
Change password 
{% endblock title %} 
{% block style %}
<style>
    .errorlable{
        color: red
    }
    .errorborder{
        border:1px solid red;
    }
</style>

{%endblock style %}
{% block content %}
<div class="container-fluid" style="display:flex;justify-content: center;">
   
    <!-- <center> -->
    <div class="card shadow " style="width:30em">
        <h3 class="text-dark mt-4 ms-3">Change password</h3>
        <p class="text-primary m-0 fw-bold" id="msg"></p>
        <div class="card-body">
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old Password">
                    <label for="floatingInput">Old Password</label>
                    <span id="oldpassword-error" class="text-danger" style="font-size:13px"></span>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
                    <label for="floatingPassword">New Password</label>
                    <span id="newpassword-error" class="text-danger" style="font-size:13px"></span>
                  </div>
                  <div class="mb-3">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" onclick="showpassword()" type="checkbox">Show password</label></div>
                </div>
                  <div class="mt-5 float-right">
                      <button type="button" class="btn btn-primary form-control" id="btn" >Change password</button>
                  </div>
            </form>
        </div>
    <!-- </center> -->
</div>

</div>

 

{% endblock content%} 
{% block js %}
<script src="{% static 'js/changepasword.js' %}"></script>
{% endblock js %}