{% extends "index.html"%}

{% load static %}

{% block title %}
Change password
{% endblock title %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css'%}">
{% endblock style %}

{% block mainblock %}
    <section class="text-center register-photo" style="background: rgb(255,255,255);text-align: left;transform: translate(0px) translateY(126px);">
          
        <div class="form-container">
            <!-- <div class="image-holder" style="background:url('https://cdn.ndtv.com/tech/splashdata_logo.jpg') !important"> -->
                <form class="text-start" method="post">
                    <h2 class="text-center"><strong>Change password</strong></h2>
                    <p class="text" id="msg"></p> 
                    <div class="mb-3">
                        <input class="form-control" type="password" name="oldpassword" id="oldpassword" placeholder="Old password" >
                        <span id="oldpassword-error" class="text-danger" style="font-size:13px"></span>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" id="password" placeholder="New Password">
                        <span id="newpassword-error" class="text-danger" style="font-size:13px"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input" onclick="showpassword()" type="checkbox">Show password</label></div>
                    </div>
                   
                    <div class="mb-3"><button id="btn" class="btn btn-primary d-block w-100" type="button">Change password</button></div>
                    
                </form>
            <!-- </div> -->
        </div>
    </section>
{% endblock mainblock%} 


{% block js %}
<script src="{% static 'js/changepasword.js' %}"></script>
{% endblock js %}